<h1 class="store-front"> Shop Rails! </h1>
<div>
    <%# If logged in %>
    <% if current_user%>
        <div class="categories">
            <h1 class="title"> Categories </h1>
            
            <ul class="list-group">
                <% @categories. each do |c| %>
                    <a href="<%= category_products_path(c) %>" id="category" class="list-group-item list-group-item-action"> <h4 id="product"> <%= c.title %> </h4> </a>
                <% end %>
            </ul>
            <h6 class="title"> <%= link_to "Back to Login", '/'%> </h6>
        </div>
    <% end %>

    <%# If not logged in %>
        <% unless current_user %>
            <h1>Please Login to View</h1>
        <% end %>
</div>